/* =================================== */
/*	Basic Style 
/* =================================== */

body {
        font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    //font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
.cd-fixed-bg {
	background-attachment: fixed !important;
}
video#backgroundvid { 
 right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; 
background-size: cover; 
background-position:center center;
}
.morecontent span {
	display: none;
}

ol, ul {
    margin: 0;
    padding: 0;
   
}
.pt60{padding-top:60px;}
.pb50{padding-bottom:50px;}
.pt50{padding-top:50px;}
.mb50{margin-bottom:50px;}
.mt50{margin-top:50px;}
.pb20{padding-bottom:20px;}
.pt20{padding-top:20px;}
.mb20{margin-bottom:20px;}
.mt20{margin-top:20px;}
.pb40{padding-bottom:40px;}
.pt40{padding-top:40px;}
.mb40{margin-bottom:40px;}
.mt40{margin-top:40px;}
.pb30{padding-bottom:30px;}
.pt30{padding-top:30px;}
.mb30{margin-bottom:30px;}
.mt30{margin-top:30px;}
.pb10{padding-bottom:10px;}
.pt10{padding-top:10px;}
.mb10{margin-bottom:10px;}
.mt10{margin-top:10px;}
.pr30{padding-right:30px;}
.pl30{padding-left:30px;}
figure, p {
    margin: 0;
	    word-wrap: break-word;
}
fa-lg{color:#013651}

li a {
    color: #fff;
	
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: #none;
}

h1, h2, h3,
h4, h5, h6 {
	//font-weight: normal;
	margin: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}
 
.clear:after {
   clear: both;
}
 
.clear {
   *zoom: 1;
}

span.color {
	color: #0feb9e;
}

body > section,
.footer {
	padding: 10px 0;
}

.devider {
  margin-top: 30px;
}

.devider i {
  color: #fff;
  font-size:30px;
}

.devider:before,
.devider:after {
  content: "______________________";
  color: #cccccc;
  position: relative;
  font-weight:bold;
  bottom: 6px;
}

.devider:before {
  right: 10px;
}

.devider:after {
  left: 10px;
}

.mb50 {
	margin-bottom: 50px;
}

#preloader {
  background-color: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100;
}

#preloader > img {
  left: 47%;
  position: absolute;
  top: 48%;
}


/*=========================================
	Header
==========================================*/

#navigation {
  background-color: transparent;
  border: 0 none;
  margin: 0;
  //color:#000;
    -webkit-transition: background-color 800ms linear;
       -moz-transition: background-color 800ms linear;
	    -ms-transition: background-color 800ms linear;
         -o-transition: background-color 800ms linear;
			transition: background-color 800ms linear;
}

.navbar-toggle i {
	color: #fff;
}

.navbar-brand {
  padding: 0;
  
}

.navbar-nav li a {
	border-top: 1px solid transparent;
	//font-weight:bold;
        font-size:12px;
        font-weight:500;
        letter-spacing:0.05em;
}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
	//background-color:#fff;
	//border-top: 1px solid #32B0EE;
	//color:#006699;
	//font-weight:bold;
	}

.navbar-brand {font-size:30px;font-weight:bold;color:#fff;padding-top:15px;}
.navbar-brand :hover{color:#222}

@media (max-width: 767px){
.navbar-collapse{
	background-color:#fff;
	color:#000;
	box-shadow: rgb(34, 34, 34) 0px 0px 6px;
	
	}
.navbar-nav li a{
	color:#222;
	}	

}

.studio{padding-top:70px;}
.people-say{
	padding-top:140px;
	padding-bottom:1400px;

        
	}
@media (max-width: 768px){
	.studio{padding-top:20px;}
	.people-say{
		padding-top:30px;
		padding-bottom:30px;

		}
	}
#services{padding-top:100px;padding-bottom:100px;}	
@media (max-width: 768px){
#services{
padding-top:20px;padding-bottom:20px;
}
}
.details{
	background:url('image/home4.png');
	overflow:hidden;
	background-position:center;
	position: relative;
	box-sizing: border-box;
	
	
	}
.details p{font-size:14px;font-weight:100;}

blockquote.text{padding-top:20px;padding-bottom:20px;}
blockquote p{height:100px;}
@media (max-width: 768px){
	.details{
		background:#fff;
		
		padding-top:30px;
	padding-bottom:30px;
		}
		blockquote.text{padding-top:20px;padding-bottom:20px;}
		#aboutus{padding-top:0px;padding-bottom:0px;}
      blockquote{height:300px;}
	}

 .vc_icon_element-inner {
    text-align: center;
    display: inline-block;
    border: 2px solid transparent;
    width: 4em;
    height: 4em;
    box-sizing: content-box;
    position: relative;
}

.heli-typed-words {
    text-align: center;
    color: #444444;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .03em;
   max-width:1000px;
    margin: 0 auto;
}


.heli-typed-words #typed-strings #typed{
color: #3aacc7;
}

@media (max-width: 1138px){
	.heli-typed-words {
		font-size:32px;
	}
	}
@media (max-width: 820px){
	.heli-typed-words {
		font-size:31px;
		
	}
	}

.about {
    padding-top:70px;
	padding-bottom:50px;
    height: 400px;
	 background: #222;
	 margin-top:20px;
	  transition:200ms ease-in-out;
       -webkit-transition:200ms ease-in-out;
}
.about:hover{
	padding-top:30px;
	 transition:200ms ease-in-out;
	 -webkit-transition:200ms ease-in-out;
	background-color:rgba(2,2,2,0.8);
}
.about .about-icon{
	padding-top:50px;
	padding-bottom:20px;
         -webkit-transition:500ms ease-in-out;
                   transition:500ms ease-in-out;
	}
.about:hover .about-icon {-webkit-transform:scale(.8);
                  -webkit-transition:500ms ease-in-out;
                   transition:500ms ease-in-out;
                  transform:scale(.8);
}			
.about:hover .coding{
	color:#fff;
	max-height: 200px;
	transition: max-height 200ms;
	-webkit-transition: max-height 200ms;
	}	
.coding{
	overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 200ms;
     transition: max-height 200ms;
	padding-right:70px;
	padding-left:70px;
	}

	
	
	@media (max-width: 768px) {
	.about{height:auto;padding-top:20px;
	padding-bottom:20px;}
	.about:hover{
	padding-top:10px;
	transition:1s ease;
	}
		.about .about-icon{
		padding-top:10px;
		padding-bottom:10px;
		}
		.coding{padding-right:40px;
		padding-left:40px;
		}
	}

	.started{
		padding-top:100px;
		padding-bottom:100px;
		}
@media (max-width: 768px) {
	.started{
		padding-top:50px;
		padding-bottom:50px;
		}
	}	
	
.detail1{
	   
    background-image: url(http://heli.thememove.com/wp-content/uploads/2016/05/newhome_2.jpg?id=3009) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.update-date{
	font-size: 14px !important;
    line-height: 20px !important;
    color: #aaa !important;
    font-weight: 300 !important;
    display: inline-block !important;
    float: none !important;
    clear: both !important;
    margin: 0px 7px 15px 0px !important;
    padding: 0px 0px 0px 0px !important;
    border-radius: 0px 0px 0px 0px !important;
    background-color: rgba(255,255,255,0) !important;
    position: relative !important;
    z-index: 2 !important;
	}	

.update-head a{
	font-size: 16px !important;
    line-height: 24px !important;
    color: #222222 !important;
    font-weight: 700 !important;
    padding: 0px 0px 0px 0px !important;
    border-radius: 0px 0px 0px 0px !important;
    background-color: rgba(255,255,255,0) !important;
    z-index: 2 !important;
    height:65px;
    display: block;
    text-transform: uppercase !important;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
    border-color: #333333 !important;
    border-style: solid !important;
	}	


.update-data{
    font-size: 13px !important;
    line-height: 24px !important;
    color: #444444 !important;
    font-weight: 300 !important;
    display: block !important;
    text-align: left !important;
    clear: both !important;
    margin: 10px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    border-radius: 0px 0px 0px 0px !important;
    background-color: rgba(255,255,255,0) !important;
    position: relative !import;
    

	}	
	
.update:hover img{
	background-color:rgba(0,0,0,0.8);
	}	
.update img{height:250px;width:350px;}
.blog a button{padding:12px 30px;border-color: #2A2A2A; background-color:#f7f7f7;border-radius:25px;letter-spacing:.2em;}
.blog a button:hover{background-color:#252525;color:#fff}

.begin{padding-top:90px;}	
.begin h1{font-size:48px;}	
.begin div button{padding:12px 30px;border-color: #2A2A2A; background-color:#f7f7f7;border-radius:25px;letter-spacing:.2em;}
.begin div button:hover{background-color:#252525;color:#fff}

@media (max-width: 768px){
	.begin{padding-top:20px;}
	.begin h1{font-size:28px;}
	.update img{height:auto;width:auto;}
		
	}
	
.team h1{
	font-size:80px;
	color:#B1B1B1;
	}	
.overlay {
	background-color: rgba(0,0,0,.8);
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width:85%;
	height: 70%;
	color: #fff;
	
	padding-left:0px;
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: all 450ms ease-out 0s;	
	   -moz-transition: all 450ms ease-out 0s;
		 -o-transition: all 450ms ease-out 0s;
		    transition: all 450ms ease-out 0s;
		  
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
	   -moz-transform: rotateY(180deg) scale(0.5,0.5);
		-ms-transform: rotateY(180deg) scale(0.5,0.5);
		 -o-transform: rotateY(180deg) scale(0.5,0.5);
			transform: rotateY(180deg) scale(0.5,0.5);
}

.team-item:hover .overlay {
	opacity: .8;
	filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}	
.team-data{
	height:100px;
	margin-top:-30px;
	z-index:2;
	background-color: #222222;
    padding: 15px 10px;
    border-width: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: transparent;
    border-style: double;
	}	
@media(min-width:768px){
.team-member img{width:210px;height:260px;}
	

}
@media(max-width:768px){
.team h1{
	font-size:40px;
	color:#B1B1B1;
	}
}
.team-post{
	    font-size: 16px !important;
    line-height: 20px !important;
    color: #878787 !important;
    font-weight: 300 !important;
	margin-bottom:10px;
	}	
	
.team-name{
	    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
	margin-bottom:10px;
	}	
	
.follow{
	padding-top:115px;
	padding-bottom:115px;
	//background-image:url('image/home8.jpg');
	  background-position: center !important;
    background-repeat: no-repeat !important;
   // background-size: cover !important;
}
.team{
	padding-top:90px;
	padding-bottom:90px;
	}
@media (max-width: 766px){
	.follow{//background-color:#222;
	padding-top:40px;
	padding-bottom:40px;
	}
	.team{
		padding-top:40px;
		padding-bottom:40px;
		}
		
	.team-name{
	    font-size: 12px;}
	}
.touch{
	    font-size: 16px;
    color: #ffffff;
    line-height: 1;
    text-align: left;
    font-weight: 400;
    //text-transform: uppercase;
    letter-spacing: 1em;
}

.follow-us{font-size: 60px;color: #eeeeee;line-height: 1;text-align: left;font-weight: 800;}
@media (max-width: 766px){
	.follow-us{font-size:40px;
	font-weight:bold;
	}
  .touch{letter-spacing:10px;}	
	}
	
.follow-social{font-size: 1px;color: #ffffff;line-height: 1;text-align: left;font-weight: 700;text-transform: uppercase;letter-spacing: 0.12em}

.form-head{font-size: 36px;color: #ffffff;line-height: 1;text-align: left;font-weight: 700;text-transform: uppercase;letter-spacing: 0.12em;padding-left:8%;}

@media (max-width: 766px){
.form-head{font-size:25px;}
}

.form-area{padding-left:6%}

.form-area input,.form-area textarea{
	  
	border-color: #444;
    color: #fff;
	border-radius:0px;
	}
	
.input-area, .text-area{
	  margin-bottom: 15px;
    border: 1px solid #ddd;
    background-color: transparent;
	}	
.input-submit{
	    padding: 12px 30px;
    border-color: #888;
    border-radius: 40px;
    letter-spacing: .2em;
	    font-weight: normal;
    font-size: 12px;
    cursor: pointer;
	}	
	
.site-footer {
    background-color: #222222;
    padding: 80px 0px 80px 0px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #ffffff;
}
.site-footer .widget {
    margin-bottom: 0;
}
.office {
    padding-top: 15px;
}
.office p {
    margin-bottom: 10px;
}
.office i {
    width: 27px;
    font-size: 20px;
}
.site-footer a {
    color: #ffffff;
}
.social-icons a {
    margin-right: 10px;
    font-size: 18px;
}
.site-footer .widget-title {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2em;
    color: #ffffff;
    padding: 0px 0px 20px 0px;
}
.sidebar .widget-title, .site-footer .widget-title, .wpb_widgetised_column .widget-title {
    display: inline-block;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.sidebar .widget ul, .site-footer .widget ul, .wpb_widgetised_column .widget ul {
    margin: 0;
    padding: 0;
}
.site-footer .menu li {
    display: block;
    margin-bottom: 10px;
}
.site-footer .widget_recent_entries li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    list-style: none;
}

.member li{padding-left:0px;}


.test{
	   background-color:rgba(0,0,0,.91);
    //background-image: url(http://heli.thememove.com/wp-content/uploads/2016/05/newhome_2.jpg?id=3009) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
   // background-size: cover !important;
}

.people h4{
	    font-size: 32px;
    color: #ffffff;
    text-align: left;
    text-transform: none;
	}
@media(max-width:768px){
.people h4{
	    font-size:21px;}
	    .update-head a{height:auto;}
}
	
.text {
    background-color: #fff;
    color: #222;
	    margin-bottom: 20px;
    padding: 30px;
	blockquote {
    margin: 0;
    //padding: 0 0 20px;
    border: 0;
  
    font-style: normal;
    font-size: 20px;
}

.author {
    position: relative;
    display: block;
    float: left;
    padding: 15px 20px;
    line-height: 1;
}
 .author span:first-child, .author span:last-child {
    color: #fff;
}
.author div:first-child {
    display: block;
    margin-bottom: 8px;
    color: #222;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}
.author div:last-child {
   // color: #444;
    font-style: normal;
    font-size: 16px;
}